option_settings:
  aws:elasticbeanstalk:application:environment:
    # Environment-specific secrets
    APP_DATABASE_URL: '{{resolve:secretsmanager:sabonah/ENVIRONMENT_NAME/database:SecretString:url}}'
    APP_AWS_BUCKET: '{{resolve:ssm:/sabonah/ENVIRONMENT_NAME/aws/bucket}}'
    APP_AWS_BUCKET_BASE_URL: '{{resolve:ssm:/sabonah/ENVIRONMENT_NAME/aws/bucket-base-url}}'
    APP_REDIS_HOST: '{{resolve:secretsmanager:sabonah/ENVIRONMENT_NAME/redis:SecretString:host}}'
    
    # Shared secrets (same for all environments)
    APP_TWILIO_AUTH_TOKEN: '{{resolve:secretsmanager:sabonah/twilio:SecretString:auth_token}}'
    APP_FIREBASE_PRIVATE_KEY: '{{resolve:secretsmanager:sabonah/firebase:SecretString:private_key}}'
    APP_ENV: '{{resolve:ssm:/sabonah/ENVIRONMENT_NAME/app/env}}'
    APP_PORT: '{{resolve:ssm:/sabonah/app/port}}'
    APP_DEBUG: '{{resolve:ssm:/sabonah/ENVIRONMENT_NAME/app/debug}}'
    APP_LOG_LEVEL: '{{resolve:ssm:/sabonah/app/log-level}}'
    APP_TOKEN_EXPIRATION: '{{resolve:ssm:/sabonah/app/token-expiration}}'
    APP_REDIS_PORT: '{{resolve:ssm:/sabonah/redis/port}}'
    APP_AWS_REGION: '{{resolve:ssm:/sabonah/aws/region}}'
    APP_AWS_STS_ROLE_ARN: '{{resolve:ssm:/sabonah/aws/sts-role-arn}}'
    APP_TWILIO_ACCOUNT_SID: '{{resolve:ssm:/sabonah/twilio/account-sid}}'
    APP_VERIFY_SERVICE_SID: '{{resolve:ssm:/sabonah/twilio/verify-service-sid}}'
    APP_GOOGLE_OAUTH_ENDPOINT: '{{resolve:ssm:/sabonah/oauth/google-endpoint}}'
    APP_APPLE_OAUTH_ENDPOINT: '{{resolve:ssm:/sabonah/oauth/apple-endpoint}}'
    APP_FIREBASE_CLIENT_EMAIL: '{{resolve:ssm:/sabonah/firebase/client-email}}'
    APP_FIREBASE_PROJECT_ID: '{{resolve:ssm:/sabonah/firebase/project-id}}'